<footer class="md-footer">
    <div id="new-footer">
        <div id="partners">
          <div id="logos">
            <a href="https://nesi.org.nz" class="nesi-footer-logo" target="_blank"><img alt="" src="https://www.nesi.org.nz/sites/default/files/LogoNeSI-footer.png"></a>

            <a href="http://www.agresearch.co.nz/" class="nesi-footer-logo" target="_blank"><img alt="" src="https://www.agresearch.co.nz/_resources/themes/agtheme/dist/static/svg/logo-ag-research-white.svg?m=1740082647"></a>
          </div>
        </div>
        <div id="inner">
          <span id="links"><a href="https://www.nesi.org.nz/copyright" target="_blank">Copyright © <span id="year">2025</span> · New Zealand eScience Infrastructure</a> | <a href="https://www.nesi.org.nz//disclaimer" target="_blank">Disclaimer</a> | <a href="https://www.nesi.org.nz//privacy" target="_blank">Privacy</a>
          </span>
        </div>
    </div>
</footer>

https://www.agresearch.co.nz/_resources/themes/agtheme/dist/static/svg/logo-ag-research-white.svg?m=1740082647
