<footer class="md-footer">
    <div id="new-footer">
        <div id="partners">
          <div id="logos">
            <a href="https://nesi.org.nz" class="nesi-footer-logo" target="_blank"><img alt="" src="https://github.com/MattBixley/eri-support-docs/docs/assets/images/footer/ffooter_nesi.png"></a>
            <a href="http://www.agresearch.co.nz/" class="nesi-footer-logo" target="_blank"><img alt="" src="https://github.com/MattBixley/eri-support-docs/docs/assets/images/footer/footer_agr.png"></a>
          </div>
        </div>
        <div id="inner">
          <span id="links"><a href="https://www.nesi.org.nz/copyright" target="_blank">Copyright © <span id="year">2025</span> · New Zealand eScience Infrastructure</a> | <a href="https://www.nesi.org.nz//disclaimer" target="_blank">Disclaimer</a> | <a href="https://www.nesi.org.nz//privacy" target="_blank">Privacy</a>
          </span>
        </div>
    </div>
</footer>
